{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.name.label_tag }}
          {% render_field filter.form.name class="form-control" %}
        </div>

        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.type.label_tag }}
          {% render_field filter.form.type class="form-control" %}
        </div>

      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Назва вулиці</th>
        <th>Тип вулиці</th>
        <th>Детальніше</th>
      </tr>
    </thead>
    <tbody>
      {% for street in filter.qs|slice:":100" %}
        <tr>
          <td>{{ street.name }}</td>
          <td>{{ street.type }}</td>
          <td><a href="{% url 'main:detail' street.id %}">Детальніше</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
