.App {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 50px;
  color: white;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 20px;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.rate-container {
  border-top: 2px solid purple;
}

.rate-container span.fa {
  font-size: 2em;
  cursor: pointer;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.project-item span {
  font-size: 1.2em;
  margin: 16px 5px
}
